$font-stack: Arial, Helvetica, sans-serif;
$backgroundcolour: #a9f5d0;

body {
    background-image: url("../media/finales/background.jpg");
}

#navegacion {
  float:left;
}

#equipcarac {
  float:left;
}
